{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",{ //组件库
        "absoluteRuntime": false,
        "corejs": 2,
        "helpers": true,
        "regenerator": true,
        "version": "7.0.0-beta.0"
      }
    ]
  ]
}